@font-face {
    font-family: '3270';
    src: url('https://kirito139.github.io/Stash/fonts/3270NerdFont-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: '3270';
    src: url('https://kirito139.github.io/Stash/fonts/3270NerdFont-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

body {
    background-color: rgb(7,61,63);
    color: rgb(255,255,255);
    font-family: "Open Sans", Arial, sans-serif;
    text-align: center;
}

#content {
    display: flex;
    justify-content: center;
}

header {
    font-family: '3270', "Courier New", monospace;
}

footer {
    font-family: "Open Sans", Arial, sans-serif !important;
    font-style: italic;
    font-size: 90%;
}
