@font-face {
    font-family: '3270';
    src: url('https://kirito139.github.io/Stash/fonts/3270NerdFont-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
body {
    background-color: rgb(7,61,63);
    color: rgb(255,255,255);
    font-family: '3270', Arial, sans-serif;
    text-align: center;
}

#content {
    display: block;
    margin-left: auto;
    margin-right: auto
}

header {
	
}

footer {
	font-style: italic;
	font-size: 90%;
}

